[user]
  name = Pranc1ngPegasus
  {{- if (eq .chezmoi.username "pranc1ngpegasus") }}
  email = ride.or.die.2215@icloud.com
  {{- else if (eq .chezmoi.username "tenma.fukaya") }}
  email = tenma.fukaya@kyash.co
  {{- end }}
[core]
  editor = nvim
[push]
  default = current
[url "ssh://git@github.com/Pranc1ngPegasus/"]
	insteadOf = https://github.com/Pranc1ngPegasus/
{{- if (eq .chezmoi.username "tenma.fukaya") }}
[url "ssh://git@github.com/Kyash/"]
	insteadOf = https://github.com/Kyash/
{{- end }}
[ghq]
  root = /Users/{{- .chezmoi.username -}}/ghq
  root = /Users/{{- .chezmoi.username -}}/go/src
